<%- include('../partials/header.ejs') %>
    <%- include('../partials/navbar.ejs') %>
    <%- include('../partials/topnavigation.ejs') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                

                <div class="row userInfo">
                    <div class="col-xs-12 col-sm-12">
                        <h2 class="block-title-2"> Order Details </h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Order Date</th>
                                    <th>Payment Type</th>
                                    <th>Order Status</th>
                                    <th>Grand Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#<%= order.orderNumber %></td>
                                    <td><%= order.orderDate.toLocaleDateString() %></td>
                                    <td><%= order.paymentType %></td>
                                    <td><%= order.orderStatus %></td>
                                    <td>$<%= order.grandTotalCost %></td>
                                </tr>
                            </tbody>
                        </table>

                        <h2 class="block-title-2"> Billing Address </h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Street</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Country</th>
                                    <th>Pincode</th>
                                    <th>Mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= address.firstName %> <%= address.lastName %></td>
                                    <td><%= address.street %></td>
                                    <td><%= address.city %></td>
                                    <td><%= address.state %></td>
                                    <td><%= address.country %></td>
                                    <td><%= address.pincode %></td>
                                    <td><%= address.number %></td>
                                </tr>
                            </tbody>
                        </table>

                        <h2 class="block-title-2"> Products </h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Variant Color</th>
                                    <th>Quantity</th>
                                    <th>Size</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order.cartData.forEach(item => { %>
                                    <tr>
                                        <td><%= item.productName %></td>
                                        <td><%= item.variantColor %></td>
                                        <td><%= item.quantity %></td>
                                        <td><%= item.size %></td>
                                        <td>$<%= item.price %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>

                        <% if (order.orderStatus !== 'Cancelled') { %>
                            <form action="/user/cancel-order/<%= order._id %>" method="POST">
                                <button type="submit" class="btn btn-danger">Cancel Order</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <!--/row end-->
            </div>
        </div>
        <!--/row-->
    </div>

    <%- include('../partials/footer.ejs') %>

