<%- include('../partials/grabifyheader.ejs') %>
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/user/home">Home</a></li>
                <li><a href="/user/cart">Cart</a></li>
                <li class="active"> Checkout</li>
            </ul>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <h1 class="section-title-inner"><span><i class="glyphicon glyphicon-shopping-cart"></i>CHECKOUT</span></h1>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5 rightSidebar">
            <h4 class="caps"><a href="/user/home"><i class="fa fa-chevron-left"></i> Back to shopping </a></h4>
        </div>
    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row userInfo">
                <div class="col-xs-12 col-sm-12">
                    <div class="w100 clearfix">
                        <div class="row userInfo">
                            <div style="clear: both"></div>
                            <div class="onepage-checkout col-lg-12">
                                <form id="order-form" method="POST">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingOne">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#BillingInformation"
                                                       aria-expanded="true" aria-controls="BillingInformation">
                                                        Billing and Shipping information
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="BillingInformation" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="BillingInformation">
                                                <div class="panel-body">
                                                    <div style="clear: both"></div>
                                                    <div id="exisitingAddressBox" class="collapse in">
                                                        <div class="form-group uppercase"><strong>Select address</strong></div>
                                                        <div class="w100 clearfix">
                                                            <% addressData.forEach(address => { %>
                                                            <div class="col-xs-12 col-sm-6 col-md-4">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <h3 class="panel-title"><strong><%= address.addressAlias %></strong></h3>
                                                                    </div>
                                                                    <div class="panel-body">
                                                                        <ul>
                                                                            <li><span class="address-name"> <strong><%= address.firstName %> <%= address.lastName %></strong></span></li>
                                                                            <li><span class="address-line1"><%= address.street %></span></li>
                                                                            <li><span class="address-line2"><%= address.addressLine2 %></span></li>
                                                                            <li><span> <strong>Mobile</strong> : <%= address.number %></span></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }) %>
                                                        </div>
                                                        <!--/.w100-->
                                                        <div class="gap"></div>
                                                        <div class="col-lg-12 clearfix">
                                                            <a class="btn btn-primary" href="/user/addAddress"><i class="fa fa-plus-circle"></i> Add New Address </a>
                                                        </div>
                                                        <div class="gap"></div>
                                                        <div class="form-group required maxwidth300">
                                                            <label for="InputCountry">Select Address <sup>*</sup></label>
                                                            <select class="form-control" required aria-required="true" id="SelectAddress" name="chosenAddress">
                                                                <% addressData.forEach(address => { %>
                                                                <option value="<%= address._id %>"> <%= address.addressAlias %></option>
                                                                <% }) %>
                                                            </select>
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading" role="tab" id="">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#Paymentmethod"
                                                                   aria-expanded="false" aria-controls="Paymentmethod">
                                                                    Payment method
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="Paymentmethod" class="panel-collapse collapse" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="onepage-payment">
                                                                    <div style="clear:both;"></div>
                                                                    <div class="card-paynemt-box payment-method">
                                                                        <label class="radio-inline" for="CashOnDelivery" aria-controls="CashOnDeliveryCollapse">
                                                                            <input name="paymentType" id="COD" value="COD" type="radio">Cash On Delivery
                                                                        </label>
                                                                    </div>
                                                                    <div class="card-paynemt-box payment-method">
                                                                        <label class="radio-inline" for="razorpay" aria-controls="CashOnDeliveryCollapse">
                                                                            <input name="paymentType" id="razorpay" value="razorpay" type="radio">Razorpay
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <input type="hidden" name="couponCode" id="hiddenCouponCode">
                                                    <input type="hidden" name="walletDeduction" id="hiddenWalletDeduction">
                                                    <button type="submit" class="pull-left btn btn-primary btn-lg">
                                                        Order &nbsp; <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--onepage-checkout-->
                        </div>
                        <!--/row end-->
                    </div>
                </div>
            </div>
            <!--/row end-->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 rightSidebar">
            <div class="w100 cartMiniTable">
                <table id="cart-summary" class="std table">
                    <tbody>
                        <tr>
                            <td>Total Price</td>
                            <td class="price" id="totalPrice1">₹<%= grandTotal %></td>
                        </tr>
                        <tr style="">
                            <td>Shipping</td>
                            <td class="price">Free shipping!</td>
                        </tr>
                        
                        <tr>
                            <td>Grand Total</td>
                            <td class="site-color" id="total-price">₹<span id="grandTotal"><%= grandTotal %></span></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <% if (coupons.length > 0) { %>
                                <div class="input-append couponForm">
                                    <form id="couponApplyForm">
                                        <select class="form-control" id="couponCode" name="couponCode">
                                            <option value="">Select Coupon</option>
                                            <% coupons.forEach(coupon => { %>
                                                <option value="<%= coupon.couponCode %>"><%= coupon.couponCode %> - <%= coupon.discountPercentage %>% off</option>
                                            <% }) %>
                                        </select>
                                        <button class="btn btn-success" style="margin-top: 10px;" type="submit">Apply!</button>
                                    </form>
                                </div>
                                <% } else if (walletBalance != 0) { %>
                                <tr id="walletBalanceRow">
                                    <td>Wallet Balance</td>
                                    <td class="price">₹<span id="walletBalance"><%= walletBalance %></span></td>
                                </tr>
                                <tr id="useWalletRow">
                                    <td colspan="2">
                                        <button class="btn btn-primary" id="WalletButton">Wallet Balance</button>
                                    </td>
                                </tr>
                                <% } %>
                            </td>
                        </tr>
                        <% if (walletBalance != 0) { %>
                        <tr id="walletBalanceRow" style="display: none;">
                            <td>Wallet Balance</td>
                            <td class="price">₹<span id="walletBalance"><%= walletBalance %></span></td>
                        </tr>
                        <tr id="useWalletRow" style="display: none;">
                            <td colspan="2">
                                <button class="btn btn-primary" id="useWalletButton">Use Wallet Balance</button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
                <div class="cartContent w100">
                    <table class="cartTable table-responsive" style="width:100%">
                        <tbody>
                            <tr class="CartProduct cartTableHeader">
                                <td style="width:25%"> Product</td>
                                <td style="width:60%; text-align: center;">Details</td>
                                <!-- <td style="width:10%">QNT</td>
                                <td style="width:10%">Size</td> -->
                                <td style="width:15%">Total</td>
                            </tr>
                            <% cartItems.forEach(item => { %>
                            <tr class="CartProduct">
                                <td class="CartProductThumb">
                                    <div><a href="<%= item.variantId.images[0] %>"><img src="<%= item.variantId.images[0] %>" alt="img"></a></div>
                                </td>
                                <td>
                                    <div class="CartDescription">
                                        <h4><a href="/product/<%= item.productId._id %>"><%= item.productId.name %>(<%= item.variantId.color %>)</a></h4>
                                        <div class="price"><span>₹<%= item.variantId.effectivePrice %></span></div>
                                    </div>
                                </td>
                                <!-- <td><%= item.quantity %></td>
                                <td><%= item.size %></td> -->
                                <td class="price">₹<%= item.variantId.effectivePrice * item.quantity %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            
            <!--  /cartMiniTable-->
        </div>
        <!--/rightSidebar-->
    </div>
    <!--/row-->
    <div style="clear:both"></div>
</div>
<!-- /.main-container-->
<div class="gap"></div>
<%- include('../partials/grabifyfooter.ejs') %>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    document.getElementById('order-form').addEventListener('submit', function(event) {
        event.preventDefault();
        const form = this;

        const requestBody = {
            chosenAddress: form.chosenAddress.value,
            paymentType: form.paymentType.value,
            couponCode: document.getElementById('hiddenCouponCode').value,
            walletDeduction: document.getElementById('hiddenWalletDeduction').value
        };

        if (parseFloat(document.getElementById('grandTotal').innerText) === 0) {
            requestBody.paymentType = 'wallet';
            fetch('/user/create-order-cod', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Created',
                        text: data.message,
                        confirmButtonText: 'OK'
                    }).then(() => {
                        window.location.href = '/user/home';
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while creating the order: ' + error.message
                });
            });
        } else if (form.paymentType.value === 'razorpay') {
            fetch('/user/create-and-verify-order-razorpay', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const options = {
                        key: 'rzp_test_3TZZC2O6tszKWO',
                        amount: data.amount,
                        currency: 'INR',
                        name: 'Grabify',
                        description: 'Order Payment',
                        order_id: data.orderId,
                        handler: function (response) {
                            fetch('/user/create-and-verify-order-razorpay', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({
                                    paymentId: response.razorpay_payment_id,
                                    orderId: response.razorpay_order_id,
                                    signature: response.razorpay_signature
                                })
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Payment Successful',
                                        text: 'Your order has been placed successfully.',
                                        confirmButtonText: 'OK'
                                    }).then(() => {
                                        window.location.href = '/user/home';
                                    });
                                } else {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Payment Failed',
                                        text: data.message
                                    });
                                }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'An error occurred while verifying the payment: ' + error.message
                                });
                            });
                        },
                        prefill: {
                            name: data.userName,
                            email: data.userEmail,
                            contact: data.userContact
                        },
                        theme: {
                            color: '#F37254'
                        }
                    };
                    const rzp = new Razorpay(options);
                    rzp.open();
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while creating the order: ' + error.message
                });
            });
        } else {
            fetch('/user/create-order-cod', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestBody)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Created',
                        text: data.message,
                        confirmButtonText: 'OK'
                    }).then(() => {
                        window.location.href = '/user/home';
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                }
            })
            .catch(error => {
                console.error('Error:', error);
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An error occurred while creating the order: ' + error.message
                });
            });
        }
    });

    document.getElementById('couponApplyForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const couponCode = document.getElementById('couponCode').value;

        if (!couponCode) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Please select a coupon code.',
                showConfirmButton: false,
                timer: 2000
            });
            return;
        }

        fetch('/user/apply-coupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ couponCode })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    icon: 'success',
                    title: 'Coupon Applied',
                    text: `Coupon applied successfully! You saved ₹${data.discountAmount}.`,
                    showConfirmButton: false,
                    timer: 2000
                }).then(() => {
                    document.getElementById('grandTotal').innerText = `${data.newTotal}`;
                    document.getElementById('hiddenCouponCode').value = couponCode;
                    if (walletBalance != 0) {
                        document.getElementById('walletBalanceRow').style.display = 'table-row';
                        document.getElementById('useWalletRow').style.display = 'table-row';
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: data.message,
                    showConfirmButton: false,
                    timer: 2000
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred while applying the coupon.',
                showConfirmButton: false,
                timer: 2000
            });
        });
    });

    document.getElementById('useWalletButton').addEventListener('click', function() {
        const walletBalance = parseFloat(document.getElementById('walletBalance').innerText);
        let grandTotal = parseFloat(document.getElementById('grandTotal').innerText);

        const walletDeduction = Math.min(walletBalance, grandTotal);
        grandTotal -= walletDeduction;

        document.getElementById('grandTotal').innerText = grandTotal.toFixed(2);
        document.getElementById('hiddenWalletDeduction').value = walletDeduction;
        document.getElementById('useWalletButton').disabled = true;

        Swal.fire({
            icon: 'success',
            title: 'Wallet Applied',
            text: `Wallet balance applied successfully! You saved ₹${walletDeduction}.`,
            showConfirmButton: false,
            timer: 2000
        });

        const newWalletBalance = walletBalance - walletDeduction;
        document.getElementById('walletBalance').innerText = newWalletBalance.toFixed(2);

        if (grandTotal === 0) {
            document.getElementById('Paymentmethod').style.display = 'none';
        }
    });

    if (walletBalance != 0 && coupons.length === 0) {
        document.getElementById('walletBalanceRow').style.display = 'table-row';
        document.getElementById('useWalletRow').style.display = 'table-row';
    }






    

    
</script>


<script>
    document.getElementById('WalletButton').addEventListener('click', function() {
        const walletBalance = parseFloat(document.getElementById('walletBalance').innerText);
        let grandTotal = parseFloat(document.getElementById('grandTotal').innerText);

        const walletDeduction = Math.min(walletBalance, grandTotal);
        grandTotal -= walletDeduction;

        document.getElementById('grandTotal').innerText = grandTotal.toFixed(2);
        document.getElementById('hiddenWalletDeduction').value = walletDeduction;
        document.getElementById('useWalletButton').disabled = true;

        Swal.fire({
            icon: 'success',
            title: 'Wallet Applied',
            text: `Wallet balance applied successfully! You saved ₹${walletDeduction}.`,
            showConfirmButton: false,
            timer: 2000
        });

        const newWalletBalance = walletBalance - walletDeduction;
        document.getElementById('walletBalance').innerText = newWalletBalance.toFixed(2);

        if (grandTotal === 0) {
            document.getElementById('Paymentmethod').style.display = 'none';
        }
    });
</script>