<%- include('../partials/grabifyheader.ejs') %>

<div class="container main-container">

    <!-- Main component call to action -->

    <div class="row featuredPostContainer globalPadding style2">
        <h3 class="section-title style2 text-center" style="margin-top: 20px; margin-bottom: 20px;"><span>Latest Trends</span></h3>

        <div id="productslider" class="owl-carousel owl-theme">
            <% variants.forEach(variant => { %>
            <div class="item">
                <div class="product">
                    
                    <div class="image">
                        <!-- <div class="quickview">
                            <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax/product.html" data-target="#productSetailsModalAjax">Quick View </a>
                        </div> -->
                        <a href="/user/product/<%= variant._id %>"><img src="<%= variant.images[0] || '/uassets/img/gallery/latest1.jpg' %>" alt="img" class="img-responsive"></a>

                        <div class="promotion"> <span class="discount">15% OFF</span></div>
                    </div>
                    <div class="description">
                        <h4><a href="/user/product/<%= variant._id %>"><%= variant.productId.name %> (<%= variant.color %>)</a></h4>

                        <p><%= variant.productId.description %></p> <!-- Added product description here -->
                        <div class="sizes">
                            <% for (let [size, stock] of variant.size.entries()) { %>
                                <% if (stock > 0) { %>
                                    <span class="size"><%=' / '+size %></span>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <div class="price"><span>₹<%= variant.price %></span></div>
                    <div class="action-control"><a class="btn btn-primary" href="/user/product/<%= variant._id %>"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Buy Now </span> </a></div>
                </div>
            </div>
            <% }); %>
        </div>
        <!--/.productslider-->

    </div>
    <!--/.featuredPostContainer-->
</div>
<!-- /main container -->

<div class="parallax-section parallax-image-1">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content clearfix">
                    <h1 class="parallaxPrce"> Shop With Us</h1>

                    <h2 class="uppercase">FREE SHIPPING! </h2>

                    <!-- <h3> Energistically develop parallel mindshare rather than premier deliverables. </h3> -->

                    <div style="clear:both"></div>
                    <a class="btn btn-discover "> <i class="fa fa-shopping-cart"></i> SHOP NOW </a></div>
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</div>
<!--/.parallax-image-1-->

<div class="container main-container">

    <!-- Categories Content start -->
    <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
        <h3 class="section-title style2 text-center"><span>Categories</span></h3>

        <div class="container">
            <div class="row xsResponse categoryProduct">
                <% categories.forEach(category => { %>
                <div class="item itemauto col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="product">
                        <div class="imageHover">
                            <a href="/user/category/<%= category._id %>">
                                <img src="/uassets/img/gallery/items1.jpg" alt="img" class="img-responsive primaryImage">
                            </a>
                        </div>

                        <div class="description">
                            <h4><a href="/user/category/<%= category._id %>"><%= category.categoryName %></a></h4>
                            <p><%= category.categoryDescription %></p>
                            <div class="action-control"><a class="btn btn-primary" href="/user/category/<%= category._id %>"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Shop Now </span> </a></div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- Categories Content end -->

    <hr class="no-margin-top">
    
    <!--/.section-block-->

</div>
<!--main-container-->

<div class="parallax-section parallax-image-2">
    <div class="w100 parallax-section-overley">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="parallax-content clearfix">
                        <h1 class="xlarge"> Trusted Seller 500+ </h1>
                        <h5 class="parallaxSubtitle"> Lorem ipsum dolor sit amet consectetuer </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/grabifyfooter.ejs') %>