<%- include('../partials/grabifyheader.ejs', { username: username }) %>

<link rel="stylesheet" href="/tassets/plugins/smoothproducts-master/css/smoothproducts.css">
<link href="/tassets/plugins/rating/bootstrap-rating.css" rel="stylesheet">
<script>
    paceOptions = {
        elements: true
    };
</script>
<script src="/tassets/js/pace.min.js"></script>
<!-- add theme styles for this template -->
<link id="pagestyle" rel="stylesheet" type="text/css" href="/tassets/css/skin-6.css">
<link rel="stylesheet" type="text/css" href="/tassets/css/gray-look.css">

<!-- /.Fixed navbar  -->
<div class="container main-container headerOffset">
    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="/user/">Home</a></li>
                <li><a href="/user/category/<%= category._id %>"><%= category.categoryName %></a></li>
                <li class="active"><%= product.name %></li>
            </ul>
        </div>
    </div>
    
    <div class="row transitionfx">
        <!-- left column -->
        <div class="col-lg-6 col-md-6 col-sm-6" style="margin: 0 auto;"> <!-- Center the carousel -->
            <!-- product Image Carousel -->
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <% for (let i = 0; i < variant.images.length; i++) { %>
                        <div class="item <%= i === 0 ? 'active' : '' %>">
                            <div class="sp-wrap">
                                <a href="<%= variant.images[i] %>">
                                    <img src="<%= variant.images[i] %>" class="img-responsive" alt="img">
                                </a>
                            </div>
                        </div>
                    <% } %>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#product-carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#product-carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!--/ left column end -->

        <!-- right column -->
        <div class="col-lg-6 col-md-6 col-sm-5">
            <h1 class="product-title"><%= variant.productId.name %> (<%= variant.color %>)</h1>
            <h3 class="product-code">Product Code : <%= variant._id %></h3>
            <div class="rating">
                <p><span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star-o "></i></span> <span class="ratingInfo"> <span> / </span> <a data-target="#modal-review" data-toggle="modal"> Write a review</a> </span></p>
            </div>
            <div class="product-price"><span class="price-sales"> $<%= variant.price %></span></div>
            <div class="details-description">
                <p><%= variant.productId.description %></p>
            </div>
            <div class="color-details"><span class="selected-color"><strong>COLOR</strong></span>
                <ul class="swatches Color">
                    <% variants.forEach(v => { %>
                        <li class="<%= v._id === variant._id ? 'selected' : '' %>">
                            <a href="/user/product/<%= v._id %>" style="background-color:<%= v.color %>"> </a>
                        </li>
                    <% }); %>
                </ul>
            </div>
            <% let totalStock = 0; %>
            <% for (const stock of variant.size.values()) { %>
                <% totalStock += stock; %>
            <% } %>
            <% if (totalStock > 0) { %>
                <div class="size-details"><span class="selected-size"><strong>AVAILABLE SIZE</strong></span>
                    <ul class="swatches Size">
                        <% for (const [size, stock] of variant.size.entries()) { %>
                            <% if (stock > 0) { %>
                                <li>
                                    <a href="#" class="size-option" style="background-color: white; color: black"><%= size %></a>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
                <!-- Quantity input box -->
                <form id="productAddToCartForm"> <!-- Move form tag here -->
                    <div class="quantity-details">
                        <label for="quantity"><strong>QUANTITY</strong></label>
                        <input type="number" id="quantity" name="quantity" min="1" value="1" style="width: 60px; margin-left: 10px;">
                    </div>
                    <input type="hidden" name="variantId" value="<%= variant._id %>">
                    <input type="hidden" name="productId" value="<%= variant.productId._id %>">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <input type="hidden" name="size" id="selectedSize" value="">
                    <div class="cart-actions">
                        <div class="addto row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <button onclick="addToCart(event);" class="button btn-block btn-cart cart first" title="Add to Cart" type="button">Add to Cart</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a class="link-wishlist wishlist btn-block ">Add to Wishlist</a></div>
                        </div>
                    </div>
                </form> <!-- Close form tag here -->
            <% } %>
            <div style="clear:both"></div>
            <% if (totalStock > 0) { %>
                <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> In stock</h3>
            <% } else { %>
                <h3 class="incaps"><i class="fa fa-minus-circle color-out"></i> Out of stock</h3>
            <% } %>
            <!--/.cart-actions-->
        </div>
        <!--/ right column end -->
    </div>
    <!--/.row-->

    <div class="row recommended">
        <h1> YOU MAY ALSO LIKE </h1>

        <div id="SimilarProductSlider">
            <% variants.forEach(v => { %>
                <% if (v._id.toString() !== variant._id.toString()) { %>
                    <div class="item">
                        <div class="product">
                            <a class="product-image" href="/user/product/<%= v._id %>">
                                <img src="<%= v.images[0] %>" alt="img">
                            </a>
                            <div class="description">
                                <h4><a href="/user/product/<%= v._id %>"><%= v.productId.name %> (<%= v.color %>)</a></h4>
                                <div class="price"><span>$<%= v.price %></span></div>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
        <!--/.recommended-->

    </div>
    <div style="clear:both"></div>
</div>
<!-- /main-container -->

<div class="gap"></div>


<%- include('../partials/grabifyfooter.ejs') %>


<!-- Modal review start -->
<div class="modal  fade" id="modal-review" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center">PRODUCT REVIEW </h3>
            </div>
            <div class="modal-body">

                <h3 class="reviewtitle uppercase">You're reviewing: Lorem ipsum dolor sit amet</h3>

                <form>
                    <div class="form-group">
                        <label>
                            How do you rate this product? </label> <br>

                        <div class="rating-here">
                            <input type="hidden" class="rating-tooltip-manual" data-filled="fa fa-star fa-2x"
                                   data-empty="fa fa-star-o fa-2x" data-fractions="3"/>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rtext">Name</label>
                        <input type="text" class="form-control" id="rtext" placeholder="Your name" required>
                    </div>

                    <div class="form-group ">
                        <label>Review</label>
                        <textarea class="form-control" rows="3" placeholder="Your Review" required></textarea>

                    </div>


                    <button type="submit" class="btn btn-success">Submit Review</button>
                </form>


            </div>

        </div>
        <!-- /.modal-content -->

    </div>
    <!-- /.modal-dialog -->

</div>
<!-- /.Modal review -->

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<script src="/tassets/js/jquery/jquery-2.1.3.min.js"></script>
<!-- jquery-migrate only for product details -->
<script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>

<script src="/tassets/bootstrap/js/bootstrap.min.js"></script>
<!-- include jqueryCycle plugin -->
<script src="/tassets/js/jquery.cycle2.min.js"></script>
<!-- include easing plugin -->
<script src="/tassets/js/jquery.easing.1.3.js"></script>

<!-- include parallax plugin -->
<script type="text/javascript" src="/tassets/js/jquery.parallax-1.1.js"></script>

<!-- optionally include helper plugins -->
<script type="text/javascript" src="/tassets/js/helper-plugins/jquery.mousewheel.min.js"></script>

<!-- include mCustomScrollbar plugin //Custom Scrollbar  -->

<script type="text/javascript" src="/tassets/js/jquery.mCustomScrollbar.js"></script>

<!-- include icheck plugin // customized checkboxes and radio buttons   -->
<script type="text/javascript" src="/tassets/plugins/icheck-1.x/icheck.min.js"></script>

<!-- include grid.js // for equal Div height  -->
<script src="/tassets/plugins/jquery-match-height-master/dist/jquery.matchHeight-min.js"></script>
<script src="/tassets/js/grids.js"></script>

<!-- include carousel slider plugin  -->
<script src="/tassets/js/owl.carousel.min.js"></script>

<!-- include smoothproducts // product zoom plugin  -->
<script type="text/javascript" src="/tassets/plugins/smoothproducts-master/js/smoothproducts.min.js"></script>

<!-- Include SweetAlert library -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css" rel="stylesheet">

<script type="text/javascript">
    /* wait for images to load */
    $(window).load(function() {
        $('.sp-wrap').smoothproducts();
    });

    // Implement zoom-in and zoom-out feature
    $(document).ready(function() {
        $('.sp-wrap').on('click', 'a', function(event) {
            event.preventDefault();
            var img = $(this).find('img');
            var zoomLevel = img.data('zoom') || 1;
            zoomLevel = zoomLevel === 1 ? 2 : 1;
            img.css('transform', 'scale(' + zoomLevel + ')');
            img.data('zoom', zoomLevel);
        });

        // Change color of selected size
        $('.size-option').on('click', function(event) {
            event.preventDefault();
            $('.size-option').removeClass('selected').css('color', 'black'); // Reset color of all size options
            $(this).addClass('selected').css('color', 'red'); // Change color of selected size
        });
    });

    function addToCart(event) {
        event.preventDefault();
        const form = $('#productAddToCartForm');
        const size = $('.size-option.selected').text();
        const quantity = $('#quantity').val();
        console.log('Selected size:', size); // Debugging line
        console.log('Selected quantity:', quantity); // Debugging line
        if (!size) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Please select a size before adding to cart.',
                showConfirmButton: false,
                timer: 2000
            });
            return;
        }
        $('#selectedSize').val(size);
        console.log('Form data:', form.serialize()); // Debugging line

        $.ajax({
            url: '/user/add-to-cart',
            method: 'POST',
            data: form.serialize(),
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: response.message,
                    showConfirmButton: false,
                    timer: 2000
                });
            },
            error: function(error) {
                const errorMessage = error.responseJSON && error.responseJSON.error ? error.responseJSON.error : 'There was an error adding the product to the cart.';
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage,
                    showConfirmButton: false,
                    timer: 2000
                });
            }
        });
    }

    // Change color of selected size
    $('.size-option').on('click', function(event) {
        event.preventDefault();
        $('.size-option').removeClass('selected').css('color', 'black'); // Reset color of all size options
        $(this).addClass('selected').css('color', 'red'); // Change color of selected size
    });
</script>

<!-- jQuery select2 // custom select   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

<!-- include touchspin.js // touch friendly input spinner component   -->
<script src="/tassets/js/bootstrap.touchspin.js"></script>

<!-- include custom script for site  -->
<script src="/tassets/js/script.js"></script>


<script src="/tassets/plugins/rating/bootstrap-rating.min.js"></script>
<script>
    $(function () {

      $('.rating-tooltip-manual').rating({
        extendSymbol: function () {
          var title;
          $(this).tooltip({
            container: 'body',
            placement: 'bottom',
            trigger: 'manual',
            title: function () {
              return title;
            }
          });
          $(this).on('rating.rateenter', function (e, rate) {
            title = rate;
            $(this).tooltip('show');
          })
            .on('rating.rateleave', function () {
              $(this).tooltip('hide');
            });
        }
      });

    });
  </script>


</body>
</html>